<section class="relative  min-h-screen md:h-full overflow-hidden">
	<div class="absolute top-0 w-full ">
		<img
			class="object-cover h-screen md:h-full w-full"
			src="/section2.png"
			alt="mujer bañandose en un logo"
		/>
	</div>
	<div class="absolute top-4 left-8 w-32">
		<img class="object-cover" src="/logo.png" alt="logo relinda venezuela" />
	</div>
	<div class="absolute bottom-6 right-6 w-3/4 md:w-2/4 p-4 ">
		<h2 class="text-3xl md:text-6xl text-center text-relinda font-bold">
			La aventura te espera
		</h2>
		<p class="text-gray-400 text-justify">
			Es una aventura alucinante que te hará vivir ReLindaVenezuela!! Nuestras
			salidas a este refrescante destino son desde Mérida, Ejido y Lagunillas
		</p>
	</div>
</section>
