<section>
    <div class="flex justify-center text-relinda font-bold text-center p-6">
        <h2 class="text-3xl md:text-5xl">Estas y muchas aventuras mas</br>encuentra en RELINDA  </h2>
    </div>
<div class="grid grid-cols-1  m-auto md:grid-cols-12 auto-rows-[250px] md:auto-rows-[150px] gag-4 md:gap-3 w-full max-w-5xl p-6">
    
    <div class="relative md:col-span-6 md:row-span-3 text-white">
        <img src="https://scontent.fmrd1-1.fna.fbcdn.net/v/t39.30808-6/326519424_617910223432792_4926100642798669532_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_ohc=g20k63BzY7kQ7kNvgE_xGz3&_nc_ht=scontent.fmrd1-1.fna&oh=00_AYAXwRAETmP064uzWm_Gwr4aRurkVEa8bYrAaNTpj4gMjA&oe=66FDEBD7" alt="laguna"
        class=" w-full h-full object-coverrounded-2xl"
        style="mask-image: linear-gradient(rgb(73, 252, 50), transparent);">
        <div class="absolute bottom-6 left-4">
            <h3 class="text-white font-semibold">
                Aguas Termales
            </h3>
            <p>La Musui, municipio Rangel Estado Mérida Venezuela.</p>
        </div>
    </div>

    <div class=" relative md:col-span-6 md:row-span-3 md:col-start-7 text-white">
        <img src="https://scontent.fmrd1-1.fna.fbcdn.net/v/t39.30808-6/354450795_728785519248116_5547057246304668031_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=127cfc&_nc_ohc=58F2palUxsUQ7kNvgHgF7sG&_nc_ht=scontent.fmrd1-1.fna&_nc_gid=Alpo34HfsHhUpBPxx6N0rn6&oh=00_AYDktCuetBpFKcdVaCpGV_CaTJIqcIs_E_s9zfzSoGy8OQ&oe=66FE2DE4" alt=""
        class=" w-full h-full object-cover rounded-2xl"
        style="mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);">
        <div class="absolute  z-10 bottom-6 left-4 text-white">
            <h3 class="text-white font-semibold">
                JUYASIRAIN
            </h3>
            <p>es una Aventura Selvática ReLinda a la que te invitamos con salida desde Maracaibo...</p>
        </div>
    </div>

    <div class=" relative md:col-span-4 md:row-span-3 md:row-start-4 text-white">
        <img src="https://scontent.fmrd1-1.fna.fbcdn.net/v/t39.30808-6/275006640_4896121577140036_674919998493825666_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=3a1ebe&_nc_ohc=7CmtLb1szg4Q7kNvgGfdu0b&_nc_ht=scontent.fmrd1-1.fna&oh=00_AYCTuAs-tRBCxrsng_1NtKSa-LZ_foj0y4QitNCr05fYBw&oe=66FDE707" alt=""
        class=" w-full h-full object-cover rounded-2xl"
        style="mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);">
        <div class="absolute bottom-6 left-4">
            <h3 class="text-white font-semibold">
                La Azulita MERIDA
            </h3>
            <p>te vamos a hechizar con la magia de La Azulita como nadie te la muestra, tanto que no vas a parar de contar anécdotas con una sonrisa interminable!!!</p>
        </div>
    </div>

    <div class=" relative md:col-span-4 md:row-span-3 md:col-start-5 md:row-start-4 text-white">
        <img src="https://scontent.fmrd1-1.fna.fbcdn.net/v/t39.30808-6/310782058_535452351914768_3886430550789514882_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=127cfc&_nc_ohc=92k04YlZdVMQ7kNvgHg-dl4&_nc_ht=scontent.fmrd1-1.fna&oh=00_AYDQPAnoWx_vSnh4A8AMh8WJCWYkRgYfSCPsV-ted4A3yw&oe=66FE31CF" alt=""
        class=" w-full h-full object-cover rounded-2xl"
        style="mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);">
        <div class="absolute bottom-6 left-4">
            <h3 class="text-white font-semibold">
                Observatorio Astronómico Nacional
            </h3>
            <p>tour Laguna Mucubají, Cascada del Mifes y Observatorio. 
            Darles un día increíble e inolvidable a nuestros turistas ReLindos </p>
        </div>
    </div>

    <div class=" relative md:col-span-4 md:row-span-3 md:col-start-9 md:row-start-4 text-white">
        <img src="https://scontent.fmrd1-1.fna.fbcdn.net/v/t39.30808-6/459037618_18141043321340630_172641277412031194_n.jpg?stp=dst-jpg&_nc_cat=105&ccb=1-7&_nc_sid=127cfc&_nc_ohc=pmE4wNzpMpgQ7kNvgESV0bL&_nc_ht=scontent.fmrd1-1.fna&_nc_gid=Ak3UM1tDRsn4inxCFvA5mkW&oh=00_AYAmtiQDkkJZ0C2BClIELiiGMXmbLU-cmsERTtdg-bmU5Q&oe=66FDEA23" 
        alt=""
        class=" w-full h-full object-cover rounded-2xl"
        style="mask-image: linear-gradient(rgb(0 0 0 / 100%), transparent);">
        <div class="absolute bottom-6 left-4">
            <h3 class="text-white font-semibold">
                La cienaga
            </h3>
            <p>tsolo lo mejor de venezuela para nuestros turistas relindos  </p>
        </div>
    </div>

</div>
</section>
    