---
import Header from "../components/Header.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Relinda Venezuela" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	@font-face {
		font-family: relinda;
		src: url("/fonts/relinda.wolff") format('wolff');
	}
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
	}
	
</style>
